.root {
    box-shadow: 0px 3px 6px #E5E0E0E6;
    border-radius: 8px;
    padding: 14px 15px 26px;
    width: 100%;
    max-width: calc(100% - 18px);
    max-height: 230px;
    grid-column: 2;
    grid-row: 4;
    margin: 40px 0 0 0;
    @media screen and (max-width:1600px) {
        margin: 40px auto 0;
    }
    @media screen and (max-width:1440px) {
        max-width: unset;
        grid-column: 1/3;
        background: #FFFFFF;
        box-shadow: 0px 3px 6px #E5E0E0E6;
        border-radius: 22px;
        margin: 20px auto 0;
    }
    @media screen and (max-width:1280px) {
        margin: 20px auto 0;
    }
    @media screen and (max-width: 768px) {
        grid-column: 1;
        grid-row: 5;
        max-height: unset;
        margin-bottom: 42px;
    }
}

.title {
    font: 700 25px/25px var(--noto-serif);
    letter-spacing: 0.75px;
    color: #3F71F7;
    text-align: center;
    @media screen and (max-width:1440px) {
        display: none;
    }
}

.inputs {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &:nth-child(2){
        margin-top: 23px;
        .inputContainer {
            height: 48px;
            &:nth-child(1) {
                width: calc(50% - 9px);
            }
            &:nth-child(2) {
                width: calc(50% - 9px);
            }
        }
    }

    &:nth-child(3){
        margin-top: 21px;

        .inputContainer {
            height: 53px;
            &:nth-child(1) {
                width: calc(100% - 92px - 16px);
                &.input::placeholder {
                    margin-left: 22px;
                }
            }
        }
    }

    @media screen and (max-width: 1440px) {
        &:nth-child(2){
            .inputContainer {
                height: 30px;

                &:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;

                    .errorText{
                        left: unset;
                        right: 0;
                    }
                }
            }
        }

        &:nth-child(3){
            margin-top: 15px;
            .inputContainer {
                height: 30px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        &:nth-child(2){
            .inputContainer {
                height: 48px;
                &:nth-child(1) {
                    width: 100%;
                }
                &:nth-child(2) {
                    width: 100%;
                }
            }
        }

        &:nth-child(3){
            .inputContainer {
                height: 48px;
                &:nth-child(1) {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (max-width:500px) {
        flex-direction: column;
        align-items: center;

        &:nth-child(2),
        &:nth-child(3){
            margin-top: 0;
        }

        .input, .errorText{
            max-width: 100% !important;
        }
        .inputContainer {
            max-width: 100%;
        }
    }
}

.inputContainer{
    width: 100%;
    margin-top: 10px;
    position: relative;

    @media screen and (max-width:1440px) {
        &:nth-child(1), &:nth-child(2) {
            .input {
                width: 100%;
                max-width: 220px;
                border: 2px solid transparent;

                &.error {
                    border: 2px solid #DE7853;
                }
            }
        }
    }
    @media screen and (max-width:500px) {
        margin-top: 20px;
    }
}

.input {
    height: 100%;
    border: 2px solid #E6E6E6;
    border-radius: 6px;
    outline: none;
    padding: 15px 30px;
    font: 20px/1 var(--helvetica);
    letter-spacing: 0.16px;
    color: #4D4544;
    width: 100%;

    &:focus{
        box-shadow: 0px 3px 6px #D9D9D996;
    }

    &.error{
        border: 2px solid #DE7853;
    }

    @media screen and (max-width: 768px) {
        padding: 15px 5px;
    }
}

.input::placeholder{
    color: #A79797B1;
}

.errorText{
    width: 100%;
    font: normal normal 14px/1 var(--arial);
    color: #8E8787;
    text-align: right;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(calc(100% + 6px));

    @media screen and (max-width:1440px) {
        font: normal normal 14px/1 var(--arial);
        transform: translateY(calc(100% + 6px));
        max-width: 220px;
    }

    @media screen and (max-width:1280px) {
        font: normal normal 10px/1 var(--arial);
        transform: translateY(calc(100% + 5px));
    }
}

.confirmBtn {
    background: #CE5742;
    border-radius: 16px;
    width: 92px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    margin-left: 8px;
    font: 18px var(--helvetica);
    letter-spacing: 1.8px;
    color: #F7F7F7;
    cursor: pointer;

    transition: .2s ease;

    &:hover{
        background: #3f71f7;
        color: #FFFFFF;
    }

    &:active{
        background: #3f71f7;
        color: #FFFFFF;
    }

    @media screen and (max-width:1440px) {
        color: #efe7e5f0;
        background-color: #ce5742;
        border-radius: 15px;
        margin-left: auto;
        font: 600 18px/50px var(--noto-serif);
    }

    @media screen and (max-width: 768px) {
        margin-top: 10px;
    }

    @media screen and (max-width:500px) {
        margin-top: 20px;
    }
}
