.root {
    margin-top: 110px;
    padding: 50px 96px;
    background-color: #FFFAFA;
    display: none;
    @media screen and (max-width:1024px) {
        display: block;
    }
    @media screen and (max-width: 526px) {
        padding: 30px 20px;
        background-color: #ffffff;
        margin-top: 0;
    }
}

.titleWrapper {
    display: flex;
    justify-content: center;
    @media screen and (max-width: 526px) {
        position: relative;
    }
}

.title {
    font: 26px/70px var(--arial-bold);
    color: #D55A2D;
    text-align: center;
    position: relative;
    display: inline-block;
    & .line {
        position: absolute;
        height: 1px;
        left: -20px;
        &:nth-of-type(2) {
            bottom: 0;
            width: 25%;
            background-color: #3F71F7;
        }
        &:nth-of-type(3) {
            bottom: -4px;
            width: 50%;
            background-color: #E3B1A7FC;
        }
        &:nth-of-type(4) {
            bottom: -8px;
            width: 25%;
            background-color: #D9B7B7;
        }
    }

    & span {
        margin-left: 10px;
        color: #3F71F7;
    }
    @media screen and (max-width: 526px) {
        font-size: 18px;
        line-height: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: unset;
        & span {
            font-size: 14px;
        }
        & .line {
            &:nth-of-type(2) {
                left: -10px;
                width: 75%;
            }
            &:nth-of-type(3) {
                left: -10px;
                width: 100%;
            }
            &:nth-of-type(4) {
                left: -10px;
                width: 75%;
            }
        }
    }
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(316px, 1fr));
    gap: 100px 120px;
    margin-top: 50px;
    @media screen and (max-width: 526px) {
        gap: 15px 30px;
        grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    }
}

.product {
    display: flex;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.productImage {
    position: relative;
    width: 100%;
    height: 198px;
    @media screen and (max-width: 526px) {
        height: 95px;
    }
}

.productTitle {
    font: 23px/28px var(--helvetica);
    color: #502707;
    @media screen and (max-width: 526px) {
        font-size: 16px;
        line-height: 19px;
    }
}

.productDesc {
    font: 15px/16px var(--arial);
    color: #48290EA7;
    margin-top: 10px;
    @media screen and (max-width: 526px) {
        font-size: 6px;
        line-height: 7px;
    }
}

.productPrice {
    font: 19px/24px var(--helvetica);
    color: #502707;
    text-align: right;
    @media screen and (max-width: 526px) {
        font-size: 16px;
        line-height: 19px;
    }
}
