.root {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto auto 1fr;
  gap: 0 40px;
  grid-column: 1;
  @media screen and (max-width: 1800px) {
    gap: 0 45px;
  }
  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(3, auto);
    column-gap: 35px;
  }
  @media screen and (max-width: 1280px) {
    column-gap: 33px;
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
